tmp
build/
libs/
certs/
modules/
.settings/
build.log
.fastdev.lock
version.js
*.bak
*.dSYM*
.pydevproject
*.ipa
*.sublime-workspace
*.apk
*.pyc
*.rjss.compiled.js
*.sublime-project
.tags_sorted_by_file
.tags
.ctags
**/node_modules
