@import 'variables';
:export {
    primaryColor: $primary-color;
    darkColor: $dark-color;
    actionBarHeight: $actionbar-height;
    actionBarButtonHeight: $actionbar-button-height;
    mdiFontFamily:$mdi-fontFamily;
    nunitoFontFamily:$nunito-fontFamily;
}
